header .container {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap: 10px;
    margin: 20px 0px;
}

header .header-bar .container ul {
    align-items: end;
    margin-right: 0px;
    display: flex;
    padding-left: 100px;
    gap: 50px;
}

header .header-bar .container ul li {
    display: inline-block;
}

header #logo {
    width: 90px;
}

header span i {
    width: 1px;
    height: 1px;
    visibility: hidden;
}

header .header-bar .container ul li a {
    font-size: 17px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #54524f;
    font-weight: 700;
    font-family: "Open Sans";
    text-decoration: none;
}

header .search-wrapper {
    display: flex;
    align-items: center;
    padding: 20px;
}
header .search-wrapper i {
    font-size: 20px;
    color: #777;
    margin-right: -160px;
}

header input {
    background-image: url(../images/searchlogo.svg);
    background-repeat: no-repeat;
    background-size: 25px;
    background-position: 10px 8px;
    background-position-x: 140px;
    border: none;
    opacity: 0.471;
    width: 183px;
    height: 51px;
    border-radius: 25px;
    background-color: #7f7770;
    height: 40px;
    border: none;
    outline: none;
    font-size: 18px;
    padding-left: 10px;
}

header div.content h1 {
    text-transform: uppercase;
    word-break: normal;
    font-size: 92px;
    color: #deb37e;
    font-weight: 800;
    font-family: "Open Sans";
    filter: drop-shadow(2.575px -4.286px 2.5px rgba(84, 82, 79, 0.22));
}

header div.content h4 {
    text-transform: uppercase;
    word-break: normal;
    height: 65px;
    font-size: 25px;
    letter-spacing: 5px;
    color: #54524f;
    font-weight: 700;
    font-style: italic;
    font-family: "Open Sans";
    text-align: left;
}

header div.header-banner {
    z-index: -1;
    background-image: url(../images/Woman1.png);
    background-repeat: no-repeat;
    background-size: cover;
}

header div.content {
    max-width: 50%;
    padding-left: 90px;
    padding-top: 170px;
    padding-bottom: 90px;
}

header div.content .btn {
    border: none;
    opacity: 0.902;
    width: 218px;
    height: 47px;
    border-radius: 21px;
    background-color: #ffffff;
    font-size: 25px;
    color: #776c64;
    font-weight: 800;
    font-family: "Open Sans";
    text-align: center;
    margin-top: 60px;
    margin-bottom: 35px;
}

header div.content p {
    word-break: normal;
    width: 452px;
    height: 130px;
    font-size: 21px;
    letter-spacing: 1px;
    color: #54524f;
    font-weight: 400;
    font-style: italic;
    font-family: "Open Sans";
}

@media only screen and (max-width: 1200px) {
    header div.content {
        max-width: 50%;
        padding-left: 90px;
        padding-top: 90px;
        padding-bottom: 90px;
    }

    header div.content .btn {
        margin-top: 30px;
    }
    header #logo {
        margin-left: 20px;
    }

    header .header-bar .container ul {
        align-items: end;
        margin-right: 0px;
        display: flex;
        padding-left: 100px;
        gap: 30px;
    }
}

@media only screen and (max-width: 992px) {
    header .header-bar .container ul {
        align-items: end;
        margin-right: 0px;
        display: flex;
        padding-left: 0px;
        gap: 10px;
    }

    header input {
        padding-left: 0px;
    }

    header div.content {
        max-width: 60%;
        padding-left: 90px;
        padding-top: 70px;
        padding-bottom: 70px;
    }

    header div.content .btn {
        margin-top: 20px;
    }

    header .header-bar .container ul li a {
        font-size: 16px;
        letter-spacing: 3px;
        text-transform: uppercase;
        color: #54524f;
        font-weight: 700;
        font-family: "Open Sans";
        text-decoration: none;
    }

    header div.content h1 {
        font-size: 70px;
        line-height: 100px;
    }

    header div.content h4 {
        font-size: 22px;
    }
    header .header-bar .container ul {
        display: none;
    }
}

@media only screen and (max-width: 576px) {
    header div.content {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        justify-content: center;
        max-width: 100%;
        padding: 20px;
    }

    header div.content h1 {
        font-size: 60px;
        line-height: 80px;
    }

    header div.content h4 {
        text-align: center;
    }

    header div.content p {
        max-width: 100%;
        height: auto;
    }
}
